@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* VARIABLES */
:root {
  /* COLORS */
  --bg-color: #0d1117;
  --bg-color-light: #3d444d;
  --color: rgb(202, 225, 244);
  --color-secondary: rgb(168, 160, 149);
  /* FONTS */
  --font-family: "Fira Code", monospace;
  --font-size: clamp(1rem, 1.5vw + 0.5rem, 1.5rem);
}

/* GLOBAL STYLES */

body {
  background-color: var(--bg-color);
  color: #fff;
  font-size: var(--font-size);
  font-family: var(--font-family);
  min-height: 100vh;
  padding: 2rem 2rem 0 2rem;

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 5rem; */
}

header {
  /* background-color:; */
  border: 2px solid var(--bg-color-light);
  border-radius: 2rem;
  padding: 3rem;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer {
  position: sticky;
  top: 100%;
  margin-top: auto;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1000px;
  margin: 2rem auto;
}

/* SEARCH */

#search {
  background-color: var(--bg-color-light);
  border: none;
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  outline: none;
  color: var(--color);
}

#search-button {
  background-color: var(--bg-color-light);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  height: 3rem;

  cursor: pointer;
  /* height: 2.5rem; */
  /* width: rem; */
  /* height: 4rem; */
  text-align: center;
  color: var(--color-secondary);
}

#search-button svg {

  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-secondary);
}

/* INFO ABOUT THE PROFILE */

#profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--bg-color-light);
}

#username {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color);
}

#followers,
#following,
#bio {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color);
}
